In [1]:
import pandas as pd
import pandas_alive

In [2]:
df_covid = pd.read_excel("data/covid-19-sample-data.xlsx")
df_covid.head()

        location       date  total_cases
0  United States 2020-12-31    525204932
1  United States 2020-11-30    347689957
2          India 2020-12-31    307985456
3          India 2020-11-30    274019221
4  United States 2020-10-30    241747742

In [3]:
df_covid.dtypes

location               object
date           datetime64[ns]
total_cases             int64
dtype: object

In [4]:
df_covid = df_covid.pivot(index="date", 
                          columns="location", 
                          values="total_cases").fillna(0)
df_covid.head()

location,Argentina,Brazil,China,Colombia,France,Germany,India,Italy,Mexico,Peru,Russia,Spain,United Kingdom,United States
date,,,,,,,,,,,,,,
2020-01-31,0.0,0.0,38008.0,0.0,30.0,18.0,2.0,2.0,0.0,0.0,2.0,0.0,2.0,41.0
2020-02-28,0.0,3.0,1554005.0,0.0,366.0,482.0,81.0,2838.0,1.0,0.0,56.0,106.0,545.0,377.0
2020-03-31,6529.0,37129.0,2594782.0,6190.0,408038.0,588258.0,10255.0,1210900.0,8128.0,7702.0,12226.0,742591.0,283256.0,1119267.0
2020-04-30,77576.0,1048506.0,2500143.0,101704.0,3456319.0,3942925.0,447607.0,4928524.0,229514.0,410944.0,1129437.0,5236777.0,3328344.0,19950793.0
2020-05-29,242491.0,6930996.0,2437007.0,434595.0,5220474.0,5061216.0,2716058.0,6449202.0,1382167.0,2532409.0,7454675.0,6623946.0,6502702.0,41928420.0

In [5]:
df_covid.plot_animated("covid-19-h-bar.gif", 
                       period_fmt="%Y-%m", 
                       title="Covid-19 Cases")

Generating BarChartRace, plotting ['Argentina', 'Brazil', 'China', 'Colombia', 'France', 'Germany', 'India', 'Italy', 'Mexico', 'Peru', 'Russia', 'Spain', 'United Kingdom', 'United States']

C:\Users\HP-NPC\anaconda3\lib\site-packages\pandas_alive\charts.py:221: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df.columns)
C:\Users\HP-NPC\anaconda3\lib\site-packages\pandas_alive\charts.py:222: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

BarChartRace(df=location              Argentina       Brazil      China    Colombia  \
date
2020-01-31 00:00:00         0.0          0.0    38008.0         0.0
2020-02-06 01:36:00         0.0          0.6   341207.4         0.0
2020-02-12 03:12:00         0.0          1.2   644406.8         0.0
2020-02-18 04:48:00         0.0          1.8   947606.2         0.0
2020-02-24 06:24:00         0.0          2.4  1250805.6         0.0
...                         ...          ...        ...         ...
2021-01-04 17:36:00  40366699.4  187112608.0  2499621.0  39182823.8
2021-01-10 19:12:00  33596610.8  155975479.0  2067283.0  32786840.6
2021-01-16 20:48:00  26826522.2  124838350.0  1634945.0  26390857.4
2021-01-22 22:24:00  20056433.6   93701221.0  1202607.0  19994874.2
2021-01-29 00:00:00  13286345.0   62564092.0   770269.0  13598891.0

location                 France     Germany        India       Italy  \
date
2020-01-31 00:00:00        30.0        18.0          2.0         2.0
2020-02-06 01:36:00        97.2       110.8         17.8       569.2
2020-02-12 03:12:00       164.4       203.6         33.6      1136.4
2020-02-18 04:48:00       231.6       296.4         49.4      1703.6
2020-02-24 06:24:00       298.8       389.2         65.2      2270.8
...                         ...         ...          ...         ...
2021-01-04 17:36:00  65710636.2  38226202.6  262969371.0  50121282.0
2021-01-10 19:12:00  54757137.4  32310722.2  217953286.0  41949482.0
2021-01-16 20:48:00  43803638.6  26395241.8  172937201.0  33777682.0
2021-01-22 22:24:00  32850139.8  20479761.4  127921116.0  25605882.0
2021-01-29 00:00:00  21896641.0  14564281.0   82905031.0  17434082.0

location                 Mexico        Peru      Russia       Spain  \
date
2020-01-31 00:00:00         0.0         0.0         2.0         0.0
2020-02-06 01:36:00         0.2         0.0        12.8        21.2
2020-02-12 03:12:00         0.4         0.0        23.6        42.4
2020-02-18 04:48:00         0.6         0.0        34.4        63.6
2020-02-24 06:24:00         0.8         0.0        45.2        84.8
...                         ...         ...         ...         ...
2021-01-04 17:36:00  34016070.4  26131135.0  72463482.2  47211004.6
2021-01-10 19:12:00  28445184.8  21637736.0  60824782.4  39354251.2
2021-01-16 20:48:00  22874299.2  17144337.0  49186082.6  31497497.8
2021-01-22 22:24:00  17303413.6  12650938.0  37547382.8  23640744.4
2021-01-29 00:00:00  11732528.0   8157539.0  25908683.0  15783991.0

location             United Kingdom  United States
date
2020-01-31 00:00:00             2.0           41.0
2020-02-06 01:36:00           110.6          108.2
2020-02-12 03:12:00           219.2          175.4
2020-02-18 04:48:00           327.8          242.6
2020-02-24 06:24:00           436.4          309.8
...                             ...            ...
2021-01-04 17:36:00      53498976.4    453727859.4
2021-01-10 19:12:00      45632687.8    382250786.8
2021-01-16 20:48:00      37766399.2    310773714.2
2021-01-22 22:24:00      29900110.6    239296641.6
2021-01-29 00:00:00      22033822.0    167819569.0

[61 rows x 14 columns], interpolate_period=True, steps_per_period=5, period_length=500, period_fmt='%Y-%m', figsize=array([6.5, 3.5]), title='Covid-19 Cases', fig=<Figure size 936x504 with 1 Axes>, cmap='dark24', tick_label_size=7, period_label=True, period_summary_func=None, fixed_max=False, dpi=144, writer=None, enable_progress_bar=False, kwargs={}, orientation='h', sort='desc', label_bars=True, bar_label_size=7, n_visible=14, fixed_order=False, perpendicular_bar_func=None)